---
---

@import "{{ site.theme }}";

header {
  text-align:center;
}

header img {
  border-radius: 50%;
  box-shadow: 0 0 0 1px;
}

header>h1, header>p:first, section>h1, section>h3 {
  color: #ff9900;
}

img.cert-logo {
  border: none;
  width: 6em;
  height: 6em;
}

img.lt-logo {
  width: 3em;
  height: 3em;
}
